html {
    font-size: 18px;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0rem;
  margin: 0;
  overflow: hidden;
  background: #fff;
  color: #000000;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#query-input {
    box-sizing: border-box;
    width: calc(100% - 1rem);
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background: #fff;
    color: #37474F;
    border: 0px solid #90A4AE;
    border-radius: 3px;
}

#query-input:focus {
    outline: none;
}

#query-input[readonly] {
    background: #CFD8DC;
    color: #546E7A;
}

#query-input::placeholder {
    text-align: right;
    font-size: 1rem;
    padding-right: 0.5rem;
    color: #90A4AE;
}

.candidate {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: calc(100% - 1rem);
    margin: 0.3rem 0.5rem 0.3rem 0.5rem;
    padding: 0.5rem;
    font-size: 0.85rem;
    background: #ffffff;
    color: #37474F;
    border-radius: 3px;
    white-space: nowrap;
    overflow-x: hidden;
}


.selected {
    --hl-color: #FFE082;
    color: #37474F;
    background: var(--hl-color);
}

.candidate .source {
    font-size: 0.7rem;
    color: #546E7A;
}

#echo-area {
    display: none;
    font-size: 0.75rem;
    border-radius: 3px;
    margin: 0.3rem 0.5rem;
    padding: 0.5rem;
}
