html {
    font-size: 18px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0rem;
  margin: 0;
  overflow: hidden;
}

#query-input {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    margin: 1rem 1rem 0rem 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#query-input::placeholder {
    text-align: right;
}

#query-candidates {
}

#query-candidates div {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    margin: 0.25rem 1rem 0.25rem 1rem;
    padding: 0.5rem;
    font-size: 0.85rem;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    white-space: nowrap;
    overflow-x: hidden;
}
